/* INDEXSTYLE.CSS */
/******************************************
BODY
******************************************/
body {
    font-family: Arial, sans-serif;
    background-image: url(/images/backgroudIndexMain.png);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    
    background-position: top center;
    background-repeat: no-repeat;
}
/******************************************
HEADER && FOOTER
******************************************/
header {
    background-color: #525456;
    color: rgb(221, 217, 206);
    text-align: center;
    padding: 10px 0;
}
footer {
    background-color: #525456;
    color: rgb(221, 217, 206);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/******************************************
MAIN
******************************************/
main {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}
/******************************************
FORM -> 
******************************************/
form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.78);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}


