/* Estilo geral com melhorias */
/* Estilo geral com melhorias */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('images/backgroundIndexMain2.jpg'); /* Substitua pelo caminho correto da imagem */
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 0px 0;
    background-color: rgba(211, 194, 194, 0.2); /* Adicionando um fundo translúcido */
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px)
}
header h1{
    margin: 0px;
}

.top-left-flags {
    position: absolute;
    top: 0px;
    left: 0px;
}

.top-left-flags ul {
    list-style: none;
    padding: 0;
}

.top-left-flags li {
    display: inline;
    margin-right: 10px;
}

.top-left-flags a {
    color: #fff;
    text-decoration: none;
}


footer {
    background-color: rgba(0, 122, 255, 0.6); /* Transparência fosca */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position:fixed;
    bottom: 0;
}
/*
preciso de criar um estilo de banner e de content para os divs correspondentes em form, a ideia é criar um banner com uma cor ligeiramente diferente da cor do content da form e que receba uma pequena imagem

*/

/* Estilo do banner */
.banner {
    background-color: rgba(232, 237, 244, 0.95); /* Cor de fundo ligeiramente diferente */
    padding: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px; /* Espaço entre o banner e o content */
    display: flex; /* Alinha ícone e texto na mesma linha */
    align-items: center; /* Centraliza verticalmente */
}

#login-icon {
    max-width: 25px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: inline-flexbox; /* Isso pode ajudar a garantir que o estilo seja aplicado */
    margin-right: 20px; /* Centraliza a imagem no banner */
}

.content {
    padding: 25px;
}

#member-login-banner {
    margin: 0;
}

/* Estilo do formulário com animação */
form {
    background-color: rgba(255, 255, 255, 1); /* Transparência */
    width: 300px;
    padding: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    animation: slide-in 0.5s ease-out;
    transition: transform 0.2s ease; /* Adicionando transição para transformação */
}

form:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do formulário */
}


input[type="text"], input[type="password"] {
    width: calc(100% - 20px); /* Correção para evitar colagem nas bordas */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9cc1e8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #d7e2ef;
}

/* Animações e foco nos inputs */
input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #007aff;
    box-shadow: 0 0 8px rgba(0, 122, 255, 0.6);
}
