/* Estilo geral com melhorias */
/* Estilo geral com melhorias */
:root {
    --primary-color: rgb(80, 113, 148);
    --secondary-color: rgba(253, 250, 250, 0.2);
    --tertiary-color: rgba(255, 255, 255, 0.2);
    --quaternary-color: rgb(255, 255, 255, 0.3);
    --quinary-color: #ccccc9;
    --todo-color:rgba(0, 136, 255, 0.756);
    --doing-color:rgba(229, 225, 108, 0.655);
    --done-color:rgba(117, 211, 86, 0.66);
    --background-color: rgb(162, 156, 150);
    --text-color:  #333;
    --text-color2:  #ffffff;
}
body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%; /* Define a altura para 100% */
    overflow-x: hidden;
    overflow-y: hidden;

}

header {
    color: var(--text-color2);
    text-align: center;
    width: 100%;
    padding: 0px 0;
    background-color: rgba(100, 91, 91, 0.2); /* Adicionando um fundo translúcido */
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 2;
    height: auto;
    
}
header h1{
    margin: 0px;
    margin: 0;
    padding: 0px 0;
}
main {
    display: flex;
    flex-direction: column;
    height: 80%; /* Ajuste para ocupar a altura total disponÃ­vel */
    align-self: center;
    margin-top: 60px;
    
    
}

.mainBoard-tasks-container {
    display: flex;
    padding: 0; /* Espaço para cabeçalho e barra de navegação */
    gap: 10px; /* Espaço entre as colunas */
    height: 100%;
    flex-grow: 1;
}
.right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3; /* Faz este contêiner ocupar o espaço restante */
    height: 100%;
}
.tasks-row {
    display: flex;
    gap: 10px; /* Espaço entre as colunas */
    height: 90%;
}
.horizontal-section {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-grow: 1; /* Faz a div ocupar o espaço restante na linha */
    height: 10%; /* Altura da seção */
    background-color: var(--secondary-color); /* Cor de fundo */
    margin-bottom: 5px; /* Espaço abaixo da seção horizontal */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para destaque */
}
.col-leftMenu{
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    padding: 0px;
    margin-bottom: 20px; /* Espaçamento na parte inferior */
    text-align: center;
    width: 23vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.col-todo, .col-doing, .col-done,.historic-retrospectives {
    background-color: var(--tertiary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1;
    padding: 0px;
    margin-bottom: 20px; /* Espaçamento na parte inferior */
    text-align: center;
    width: 23vw;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#todo, #doing, #done {
    min-height: 86%; /* Altura mínima da ul para tornar dragable mesmo que vazio*/
}


.scrolable-ul {
    overflow-y: auto;
    height: 100%;
 
}
/* Personaliza a barra de rolagem para elementos com .scrolable-ul */
.scrolable-ul::-webkit-scrollbar {
    width: 8px; /* Espessura da barra de rolagem */
}

.scrolable-ul::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho da barra de rolagem */
    border-radius: 8px;
}

.scrolable-ul::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
    border-radius: 8px; /*Arredonda os cantos*/
}

.scrolable-ul::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da barra de rolagem ao passar o mouse */
}


footer {
    background-color: rgba(100, 91, 91, 0.2); /* Transparência fosca */
    color: var(--text-color2);
    text-align: center;
    padding: 0px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 5%;
}
footer h3 {
    margin: 0;
}

/* UNORDERED LIST FOR TASKS */
ul {
    padding-left: 0px;
}

.banner {
    background-color: var(--quaternary-color); /* Cor de fundo ligeiramente diferente */
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px; /* Espaço entre o banner e o content */
    display: flex; /* Alinha ícone e texto na mesma linha */
    align-items: center; /* Centraliza verticalmente */
}
.content {
    padding: 4px;
}
.task-item {
    border-radius: 10px;
    list-style-type: none; /* Remove o ponto padrÃ£o */
    background-color: var(--quinary-color); /* Fundo branco com transparÃªncia */
    padding: 0px; /* EspaÃ§amento interno */
    overflow: hidden; /* Previne que o conteÃºdo ultrapasse os limites */
    margin: 8px auto; /* Margem automÃ¡tica para centralizaÃ§Ã£o horizontal */
    width: 90%; /* Largura ajustÃ¡vel */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza a transiÃ§Ã£o da transformaÃ§Ã£o e da sombra */
}
#todo .banner {
    background-color: var(--todo-color);
}
#doing .banner {
    background-color: var(--doing-color);
}
#done .banner {
    background-color: var(--done-color);
}

.task-item:hover {
    cursor: pointer;
    transform: translate(-2px, -2px); /* Move o elemento 5px para a direita e 5px para cima */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Adiciona uma sombra para efeito de elevaÃ§Ã£o */
}
.task-item:hover button {
    opacity: 1; /* Torna o botÃ£o totalmente opaco (visÃ­vel) quando o mouse estÃ¡ sobre o task-item */
}

.task-item h3, .task-item p {
    margin: 2px 5px; /* EspaÃ§amento entre tÃ­tulo, descriÃ§Ã£o e botÃ£o */
    word-wrap: break-word; /* Quebra palavras longas para nÃ£o ultrapassar a largura */
}

.task-item button {
    opacity: 0;
    transition: opacity 0.3s; /* Adiciona uma transiÃ§Ã£o suave para a opacidade */
    float:right; /* Posiciona o botÃ£o Ã  direita */
    margin-left: 0px; /* EspaÃ§o Ã  esquerda do botÃ£o */
    padding: 3px 8px; /* EspaÃ§amento interno do botÃ£o */
    border-radius: 2px;
    border: none;
    background-color: var(--quinary-color); /* Cor de fundo do botÃ£o */
    cursor: pointer; /* Muda o cursor para indicar que Ã© clicÃ¡vel */
}

.task-item button:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
}

/*Especifico pagina retrospetivas*/

.retrospective-main{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    gap: 55px;
    height: 100%;
}
.historic-retrospectives{
    height: 80%;
}
.mainRetrospectivesForm{
    flex: 1;
}