/* HOMEPAGE. CSS */

/******************************************
HEADER && FOOTER
******************************************/
/* HEADER */
header {
    text-align: center;
    float: left;
    width: 100%;
    height: 10%;
    min-height: 100px;
    background-color: lightgrey;
}
/* FOOTER */
footer {
    text-align: center;
    float: right;
    width: 100%;
    height: 10%;
    min-height: 100px;
    background-color: lightgrey;
}


/******************************************
BUTTONS 
******************************************/
/* BUTON OF Edit */
.btn-EditNW {
    position: absolute;
    width: 10%;
    height: 10%;
    min-height: 100px;
    top: 0;
    left: 0;
}
/* BUTON OF SAVE */
.btn-SaveNE {
    position: absolute;
    width: 10%;
    height: 10%;
    min-height: 100px;
    top: 0;
    right: 0;
}


/* BUTON OF Back */
.btn-BackSE {
    position: absolute;
    width: 10%;
    height: 10%;
    min-height: 100px;
    bottom: 0;
    left: 0;
}
/* BUTON OF Copyright */
.btn-DelSE {
    position: absolute;
    width: 10%;
    height: 10%;
    min-height: 100px;
    bottom: 0;
    right: 0;
}



/******************************************
ROWS DIV ELEMENTS
******************************************/
/* Necessário para organizar o Formulário de Task em linhas de uma tabela*/
.mainBoard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
/* Parte relativa ao row no topo Add Task */
.row-task {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: top;
    width: 100%;
    height: 20%;
    min-height: 175px;
}
/* Parte relativa ao row title */
.row-title {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: top;
    width: 100%;
    height: 20%;
    min-height: 175px;
}
/* Parte relativa ao row description */
.row-description {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: top;
    width: 100%;
    height: 20%;
    min-height: 175px;
}
/* Parte relativa ao row submit */
.row-submit {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    float: top;
    width: 100%;
    height: 20%;
    min-height: 175px;
}









