/* Source: https://learn.microsoft.com/en-us/training/modules/get-started-with-web-development/5-javascript-basics
*/

/* The :root selector matches the document's root element.
In HTML, the root element is always the html element. */
:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
/* The body selector matches the document's body.
The * selector matches every element in the document. */
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}
/* Unordered List */
ul {
    font-family: helvetica;
}
/* List Item */
li {
    list-style: circle;
}
/*  .list is a class selector!!!
Each HTML element that contains a class attribute
set to list gets the styles that are defined within this selector.*/
.list {
    list-style: square;
}
/*#msg is an ID selector!!!
The HTML element that has its id attribute set to msg gets the styles that are defined within this selector.*/
#msg {
    font-family: monospace;
}

/*In your CSS file (main.css), add a new rule
with a .btn class selector for your HTML button.
To make the button colors different from the general light
or dark theme colors, set the color and background-color properties
in this rule. When your page displays,
these .btn properties override the default properties
set in the body rule of your CSS file.*/
.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg)
}
/* light colour scheme settings */
.light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
/* dark colour scheme settings */
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

